/* CSS Stylesheet */

/**
 * Reset margin and padding for base elements.
 */
html, body, div, header, nav, main, section,
footer, h1, h2, h3, h4, p, ul, li, ol, hr
{margin: 0; padding: 0;}

/* Html & Body */
html, body {height: 100%; font-family: Tahoma, sans-serif;}

/* Container of the desktop */
#desktop {width: 100%; min-height: 100%; background-color: grey; margin-bottom: -40px;}

/* Footer */
footer {height: 40px; background-color: black; color: white;}

/* Window-wrapper */
.window-wrapper {width: 250px; min-height: 100%; background-color: white; margin-bottom: -15px; font-size: 13px;}

/* The top of a window, including links */
.window-top {background-color: black; color: white; padding: 5px 5px 5px 10px;}
.close, .minimize {float: right; background-color: black; color: white; text-decoration: none;
    border: 1px solid #333; padding: 0 10px 0 10px;}

/* Window-footer */
.window-footer {height: 15px; background-color: black; color: white; font-size: 8px; padding: 4px 0 0 10px;}

/* Content of a window */
.content {padding: 10px;}
