/* CSS Stylesheet */

/**
 * Reset margin and padding for base elements.
 */
html, body, div, header, nav, main, section,
footer, h1, h2, h3, h4, p, ul, li, ol, hr, a
{margin: 0; padding: 0;}

/* Html & Body */
html, body {height: 100%; font-family: Tahoma, sans-serif;}

/* Container of the desktop */
#desktop {width: 100%; min-height: 100%; background-color: grey; margin-bottom: -40px;}

/* Footer */
footer {height: 35px; background: linear-gradient(black, #333); color: white; padding-left: 10px; padding-top: 5px;}

/**
 * Styles for an instance of a Window-object
 */

/* Window-wrapper */
.window-wrapper {width: 300px; max-height: 100%; background-color: white; margin-bottom: -15px; font-size: 13px;
    position: absolute; top: 50px; left: 200px;}

/* The top of a window, including links */
.window-top {height: 20px; background: linear-gradient(black, #333); color: white; padding: 4px 5px 2px 10px;}
.window-top .name {font-weight: bold;}
.close, .minimize {float: right; background-color: black; color: white; text-decoration: none;
    border: 1px solid #333; padding: 0 10px 2px 10px; font-size: 12px;}

/* Window-footer */
.window-footer {height: 15px; background: linear-gradient(black, #333); color: white; font-size: 8px;
    padding: 4px 0 0 10px;}

/* Content of a window */
.content {padding: 10px;}
